
/*=======================================My Css=============================*/
.ui-page-theme-a .morning .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:11px;
padding:20px 10px;
background: transparent url('../images/icon/morning-over.png') center 10px no-repeat; padding:50px 10px 20px; color:#FF0; text-shadow:none;}
	
	.ui-page-theme-a .morning .ui-radio-off{background: transparent url('../images/icon/morning.png') center 10px no-repeat;border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:11px;
padding:50px 10px 20px; text-shadow:none;}

.ui-page-theme-a .noon .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:11px;
padding:20px 10px;
background: transparent url('../images/icon/noon-over.png') center 10px no-repeat; padding:50px 10px 20px; color:#FF0; text-shadow:none;}
	
	.ui-page-theme-a .noon .ui-radio-off{background: transparent url('../images/icon/noon.png') center 10px no-repeat;border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:11px;
padding:50px 10px 20px; text-shadow:none;}

.ui-page-theme-a .night .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:11px;
padding:20px 10px;
background: transparent url('../images/icon/night-over.png') center 10px no-repeat; padding:50px 10px 20px; color:#FF0; text-shadow:none;}
	
	.ui-page-theme-a .night .ui-radio-off{background: transparent url('../images/icon/night.png') center 10px no-repeat;border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:11px;
padding:50px 10px 20px; text-shadow:none;}