body
{
}

#page1
{
    background: transparent url('../images/repeat-bg.jpg') repeat;
}

h1
{
    color: white;
}

.page
{
    background: transparent url('../images/repeat-bg.jpg') repeat;
}

.header
{
    background: url('../images/header-bg.jpg') repeat-x;
}

.btnLeft
{
    float: left;
}

.btnRight
{
    float: right;
}

button
{
    width: 80px;
}

label
{
    display: inline-block;
    font-size: 4vw;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
}

.center
{
    text-align: center;
}

.ui-popup-container
{
    width: 80%;
}

.logoPosition
{
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
}

.logo
{
    width: 35vw;
}

.cancellationIcon
{
    width: 15vw;
}

labelLogin
{
    padding: 0% 5%;
    display: inline-block;
    font-size: 3.8vw;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
}

labelLoginName
{
    padding: 5% 4%;
    display: inline-block;
    font-size: 3.8vw;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
}

.textSmallAlign
{
    font-size: 4.5vw;
}


#registration
{
    background-image: url(../images/loginpg-bg.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat;
}

.Registerbg
{
    padding: 20px 10px;
    background-color: #1a517f;
    -moz-box-shadow: inset 0 0 10px #16466e;
    -webkit-box-shadow: inset 0 0 10px #16466e;
    box-shadow: inset 0 0 10px #16466e;
}

.Registerloginbg
{
    padding: 1em 1em;
    background-color: rgba(0,0,0,.60) !important;
    -moz-box-shadow: inset 0 0 10px #16466e;
    -webkit-box-shadow: inset 0 0 10px #16466e;
    box-shadow: inset 0 0 10px #16466e;
    float: left;
    width: 100%;
}

.RegbtnClick
{
    color: #fff;
    text-shadow: 0 -1px 0 #666;
    border-color: #666;
    background-image: -ms-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    background-image: -moz-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    background-image: -o-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F9E1E), color-stop(1, #348717));
    background-image: -webkit-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    background-image: linear-gradient(to bottom, #3F9E1E 0%, #348717 100%);
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px !important;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}
/*
    label .black {
        display: inline-block;
        font-size: 3vw;
        color: black;
        text-shadow: 0 1px 0 #fff;
    }



input.ui-input-text {
    font-size: 1.5vw;
}

a {
    font-size: 2vw;
}

img {
    width: 1vw;
}

.ui-btn-inner {
    font-size: 1.5vw;
}

.dialogLogo {
    width: 3vw;
}


.btnClick {
    line-height: 50%;
    min-width: 100px;
    min-height: 20px;
    font-size: 3vw;
    text-transform: uppercase;
    float: right;
}


.bookingHeader {
    width: 2vw;
    padding: 5px 0px 5px 0px;
    font-size: 2vw;
    text-align: center;
    float: left;
    color: white;
    background-color: #333;
}

.bookingContent {
    width: 2vw;
    padding: 5px 0px 5px 0px;
    font-size: 2vw;
    text-align: center;
    float: left;
    color: black;
}

.ui-grid-d .ui-btn, .ui-grid-e .ui-btn, .ui-grid-solo .ui-btn {
    margin: 0 0 0 0;
    float: none;
}

.ui-block-a img {
    width: 2.8vh;
}

.ui-block-b img {
    width: 2.8vh;
}

.ui-block-c img {
    width: 2.8vh;
}

.ui-block-d img {
    width: 2.8vh;
}

.ui-block-e img {
    width: 2.8vh;
}

.ui-content {
    padding: 3vw 4vw 3vw 4vw;
}

h3 {
    font-size: 3vw;
}

.ui-li-heading {
    font-size: 3vw;
}*/


/*red button theme*/
/*.ui-btn-up-r {
    border: 1px solid #721414;
    background: #AB2525;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #C54E4E, #AB2525);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #C54E4E), color-stop(1, #AB2525));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C54E4E', EndColorStr='#AB2525')";
}

    .ui-btn-up-r a.ui-link-inherit {
        color: #fff;
    }

.ui-btn-hover-r {
    border: 1px solid #6E0000;
    background: #B64B4B;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #D47272, #B64B4B);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #D47272), color-stop(1, #B64B4B));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#D47272', EndColorStr='#B64B4B')";
}

    .ui-btn-hover-r a.ui-link-inherit {
        color: #fff;
    }

.ui-btn-down-r {
    border: 1px solid #772222;
    background: #C54E4E;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 1px #000;
    background-image: -moz-linear-gradient(top, #9E3939, #C54E4E);
    background-image: -webkit-gradient(linear,left top,left bottom, color-stop(0, #9E3939), color-stop(1, #C54E4E));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9E3939', EndColorStr='#C54E4E')";
}

    .ui-btn-down-r a.ui-link-inherit {
        color: #fff;
    }

.ui-btn-up-r,
.ui-btn-hover-r,
.ui-btn-down-r {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}*/

/*Green button*/
/*ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
 
.ui-btn-up-g
{
	border: 1px solid #397114;
	background: #5aab25;
	text-shadow: 0 -1px 1px #397114;
	background-image: -moz-linear-gradient(top, #3e9734, #63ac5c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c45e), color-stop(1, #619e39));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec44f', EndColorStr='#5aab25')";
}
 
.ui-btn-hover-g
{
	border: 1px solid #2c6e00;
	background: #75b54a;
	text-shadow: 0 -1px 1px #2a6901;
	background-image: -moz-linear-gradient(top, #3e9734, #63ac5c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99d472), color-stop(1, #75b54a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99d472', EndColorStr='#75b54a')";
}
 
.ui-btn-down-g
{
	border: 1px solid #457823;
	background: #7ec44f;
	text-shadow: 0 -1px 1px #457823;
	background-image: -moz-linear-gradient(top, #3e9734, #63ac5c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #619e39), color-stop(1, #7ec44f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#619e39', EndColorStr='#7ec44f')";
}
 
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}*/
/*ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
 
.ui-btn-up-g
{
	border: 1px solid #397114;
	background: #5aab25;
	text-shadow: 0 -1px 1px #397114;
	background-image: -moz-linear-gradient(top, #7ec44f, #5aab25);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #87c45e), color-stop(1, #619e39));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#7ec44f', EndColorStr='#5aab25')";
}
 
.ui-btn-hover-g
{
	border: 1px solid #2c6e00;
	background: #75b54a;
	text-shadow: 0 -1px 1px #2a6901;
	background-image: -moz-linear-gradient(top, #99d472, #75b54a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #99d472), color-stop(1, #75b54a));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#99d472', EndColorStr='#75b54a')";
}
 
.ui-btn-down-g
{
	border: 1px solid #457823;
	background: #7ec44f;
	text-shadow: 0 -1px 1px #457823;
	background-image: -moz-linear-gradient(top, #619e39, #7ec44f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #619e39), color-stop(1, #7ec44f));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#619e39', EndColorStr='#7ec44f')";
}
 
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g
{
	color: white;
	font-weight: bold;
	text-decoration: none;
}*/



/*.ui-body-c .ui-link-inherit {
    color: #ffffff;
}

id {
    padding: 0px 5vw 0px 5vw;
    font-size: 4vw;
}*/

/*==================responsive=========================*/
/*@media all and (max-width:768px) {
    .ui-btn-inner {
        font-size: 13px;
    }

    .ui-block-a {
        font-size: 3vw;
    }

    .ui-block-b {
        font-size: 3vw;
    }

    .ui-block-c {
        font-size: 3vw;
    }

    .ui-block-d {
        font-size: 3vw;
    }

    .ui-block-e {
        font-size: 3vw;
    }

    input.ui-input-text {
        font-size: 3.5vw;
    }

    .logo {
        min-width: 122px;
        min-height: 68px;
        padding-top: 3%;
    }

    label {
        display: inline-block;
        font-size: 4vw;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
    }

    a {
        font-size: 4vw;
    }

    .ui-li-heading {
    font-size: 6vw;
}

    .dialogLogo {
    width: 6vw;
}

    h3 {
    font-size: 5vw;
}
}*/

/* Start with core styles outside of a media query that apply to mobile and up */
/* Global typography and design elements, stacked containers */
/*body { font-family: Helvetica, san-serif; }
H1 { color: green; }
a:link { color:purple; }*/

/* Stack the two content containers */
/*.main,
.sidebar { display:block; width:100%; }*/

/* First breakpoint at 576px */
/* Inherits mobile styles, but floats containers to make columns */
@media all and (min-width: 36em)
{
    .main
    {
        float: left;
        width: 60%;
    }

    .sidebar
    {
        float: left;
        width: 40%;
    }

    /*button {
        width:3vw;
    }

    input.ui-input-text {
        font-size: 2vw;
    }

     label {
        display: inline-block;
        font-size: 2vw;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
    }*/
}

/* Second breakpoint at 800px */
/* Adjusts column proportions, tweaks base H1 */
@media all and (min-width: 50em)
{
    .main
    {
        width: 70%;
    }

    .sidebar
    {
        width: 30%;
    }

    /*.ui-btn-inner {
        font-size: 13px;
    }

    .ui-block-a {
        font-size: 3vw;
    }

    .ui-block-b {
        font-size: 3vw;
    }

    .ui-block-c {
        font-size: 3vw;
    }

    .ui-block-d {
        font-size: 3vw;
    }

    .ui-block-e {
        font-size: 3vw;
    }

    input.ui-input-text {
        font-size: 3.5vw;
    }

    .logo {
        min-width: 122px;
        min-height: 68px;
        padding-top: 3%;
    }

    label {
        display: inline-block;
        font-size: 4vw;
        color: #ffffff;
        text-shadow: 0 1px 0 #fff;
    }

    a {
        font-size: 4vw;
    }

    .ui-li-heading {
        font-size: 6vw;
    }

    .dialogLogo {
        width: 6vw;
    }

    h3 {
        font-size: 5vw;
    }

    button {
        width:4vw;
    }*/

    /* You can also tweak any other styles in a breakpoint */
    /*H1 { color: blue; font-size:1.2em }*/
}

.deleteIcon
{
    float: right;
    width: 9vw;
}

.smallIcon
{
    float: left;
    width: 6vw;
}

id
{
    font-size: 4vw;
    color: white;
}

input[type=radio]
{
    opacity: 0 !important;
}

#closeErrMsg, #SubmitBooking
{
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    /* Opera */
    background-image: -o-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3F9E1E), color-stop(1, #348717));
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #3F9E1E 0%, #348717 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #3F9E1E 0%, #348717 100%);
}

#popup_Booking
{
    border-width: 0px;
}

.btnMenu
{
    width: 0.4em;
    padding: 8px 30px 8px 10px;
    position: absolute;
    top: 2%;
    left: 2%;
}



/*=======================================My Css=============================*/

.ui-page-theme-a .morning .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:14px;
padding:20px 10px;
background: transparent url('../images/icon/morning-over.png') center 10px no-repeat; padding:54px 10px 20px; color:#FF0; text-shadow:none; min-width:210px;}

	.ui-page-theme-a .morning .ui-radio-off{background: transparent url('../images/icon/morning.png') center 10px no-repeat;border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:14px;
padding:54px 10px 20px; text-shadow:none; min-width:210px;}

.ui-page-theme-a .noon .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:14px;
padding:20px 10px;
background: transparent url('../images/icon/noon-over.png') center 10px no-repeat; padding:54px 10px 20px; color:#FF0; text-shadow:none; min-width:210px;}
	
	.ui-page-theme-a .noon .ui-radio-off{background: transparent url('../images/icon/noon.png') center 10px no-repeat;border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:14px;
padding:54px 10px 20px; text-shadow:none; min-width:210px;}

.ui-page-theme-a .night .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:14px;
padding:20px 10px;
background: transparent url('../images/icon/night-over.png') center 10px no-repeat; padding:54px 10px 20px; color:#FF0; text-shadow:none; min-width:210px;}
	
	.ui-page-theme-a .night .ui-radio-off{background: transparent url('../images/icon/night.png') center 10px no-repeat;border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:14px;
padding:54px 10px 20px; text-shadow:none;min-width:210px;}

.ui-page-theme-a .hole .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center; font-size:14px;
background: transparent url('../images/icon/hole-hover.png') 4px 6px no-repeat; background-size:30px; 
padding:14px 10px 14px 32px; color:#FF0; text-shadow:none; min-width:315px;}
	
	.ui-page-theme-a .hole .ui-radio-off{background: transparent url('../images/icon/hole.png') 4px 6px no-repeat;  background-size:30px; border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; font-size:14px;
padding:14px 10px 14px 32px;text-shadow:none; min-width:315px; }
input[type=radio] {
    opacity: 0 !important;
}

/*=====================booking cancellation=======================*/
.no-booking{
	background-color:rgba(0,0,0,.40) !important;
	color:#fff;
	font-size:10vm;
	text-align:center;
	padding-top:6%;
	padding-bottom:6%;
	margin-top:10%;
	margin-bottom:10%;
	position:absolute;
	width:100%;
}
@media only screen and (max-width : 1280px) {
    .no-booking {
        background-color: rgba(0,0,0,.40) !important;
        color: #fff;
        font-size: 10vm;
        text-align: center;
        padding-top: 15%;
        padding-bottom: 15%;
        margin-top: 10%;
        margin-bottom: 10%;
        position: absolute;
        width: 100%;
    }
.ui-page-theme-a .morning .ui-btn-active {min-width:220px; font-size:14px;}
.ui-page-theme-a .morning .ui-radio-off {min-width:220px; font-size:14px;}
.ui-page-theme-a .noon .ui-btn-active {min-width:220px; font-size:14px;}
.ui-page-theme-a .noon .ui-radio-off{min-width:220px; font-size:14px;}
.ui-page-theme-a .night .ui-btn-active{min-width:220px; font-size:14px;}
.ui-page-theme-a .night .ui-radio-off{min-width:220px; font-size:14px;}
.ui-page-theme-a .hole .ui-btn-active {min-width:320px; font-size:14px;}
.ui-page-theme-a .hole .ui-radio-off{min-width:320px; font-size:14px;}
.BookingIcon {width:15vw;}
}

@media only screen and (max-width : 768px) {
	.no-booking{
	background-color:rgba(0,0,0,.40) !important;
	color:#fff;
	font-size:10vm;
	text-align:center;
	padding-top:15%;
	padding-bottom:15%;
	margin-top:20%;
	margin-bottom:20%;
	position:absolute;
	width:100%;
}

.ui-page-theme-a .morning .ui-btn-active {min-width:220px; font-size:14px;}
.ui-page-theme-a .morning .ui-radio-off {min-width:220px; font-size:14px;}
.ui-page-theme-a .noon .ui-btn-active {min-width:220px; font-size:14px;}
.ui-page-theme-a .noon .ui-radio-off{min-width:220px; font-size:14px;}
.ui-page-theme-a .night .ui-btn-active{min-width:220px; font-size:14px;}
.ui-page-theme-a .night .ui-radio-off{min-width:220px; font-size:14px;}
.ui-page-theme-a .hole .ui-btn-active {min-width:320px; font-size:14px;}
.ui-page-theme-a .hole .ui-radio-off{min-width:320px; font-size:14px;}
.BookingIcon {width:15vw;}
}

@media only screen and (max-width : 640px) {
	
	.ui-page-theme-a .morning .ui-btn-active {min-width:174px; font-size:14px;}
.ui-page-theme-a .morning .ui-radio-off {min-width:174px; font-size:14px;}
.ui-page-theme-a .noon .ui-btn-active {min-width:174px; font-size:14px;}
.ui-page-theme-a .noon .ui-radio-off{min-width:174px; font-size:14px;}
.ui-page-theme-a .night .ui-btn-active{min-width:174px; font-size:14px;}
.ui-page-theme-a .night .ui-radio-off{min-width:174px; font-size:14px;}
.ui-page-theme-a .hole .ui-btn-active {min-width:251px; font-size:14px;}
.ui-page-theme-a .hole .ui-radio-off{min-width:251px; font-size:14px;}
.BookingIcon {width:10vw;}
}

@media only screen and (max-width : 560px) {
	.ui-page-theme-a .morning .ui-btn-active {min-width:118px; font-size:14px;}
.ui-page-theme-a .morning .ui-radio-off {min-width:118px; font-size:14px;}
.ui-page-theme-a .noon .ui-btn-active {min-width:118px; font-size:14px;}
.ui-page-theme-a .noon .ui-radio-off{min-width:118px; font-size:14px;}
.ui-page-theme-a .night .ui-btn-active{min-width:118px; font-size:14px;}
.ui-page-theme-a .night .ui-radio-off{min-width:118px; font-size:14px;}
.ui-page-theme-a .hole .ui-btn-active {min-width:168px; font-size:14px;}
.ui-page-theme-a .hole .ui-radio-off{min-width:168px; font-size:14px;}
.BookingIcon {width:10vw;}
}

@media only screen and (max-width : 460px) {
	.ui-page-theme-a .hole .ui-btn-active {border-color:#3388cc ; border:none;color:#ffffff ; margin:2px;
    background-color:rgba(0,0,0,.70) !important;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-align:center;
background: transparent url('../images/icon/hole-hover.png') 4px 6px no-repeat; background-size:30px; 
padding:14px 10px 14px 32px; color:#FF0; text-shadow:none; float:left;}
	
	.ui-page-theme-a .hole .ui-radio-off{background: transparent url('../images/icon/hole.png') 4px 6px no-repeat;  background-size:30px; border-color:#3388cc ; border:none;color:#ffffff ; margin:2px; 
    background-color:rgba(0,0,0,.40) !important;
	-webkit-border-radius: 8px !important;
-moz-border-radius: 8px !important;
border-radius: 8px !important;
text-align:center; 
padding:14px 10px 14px 32px;text-shadow:none;

	}


.no-booking{
	background-color:rgba(0,0,0,.40) !important;
	color:#fff;
	font-size:10vm;
	text-align:center;
	padding-top:20%;
	padding-bottom:20%;
	margin-top:35%;
	margin-bottom:35%;
	position:absolute;
	width:100%;
}

.ui-page-theme-a .morning .ui-btn-active {min-width:60px; font-size:12px;}
.ui-page-theme-a .morning .ui-radio-off {min-width:60px; font-size:12px;}
.ui-page-theme-a .noon .ui-btn-active {min-width:60px; font-size:12px;}
.ui-page-theme-a .noon .ui-radio-off{min-width:60px; font-size:12px;}
.ui-page-theme-a .night .ui-btn-active{min-width:60px; font-size:12px;}
.ui-page-theme-a .night .ui-radio-off{min-width:60px; font-size:12px;}
.ui-page-theme-a .hole .ui-btn-active {min-width:80px; font-size:12px;}
.ui-page-theme-a .hole .ui-radio-off{min-width:80px; font-size:12px;}
.BookingIcon {width:10vw;}
}


input[type=radio] {
    opacity: 0 !important;
}
